*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 123px;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}

header {
    
    top: 50px;
    left: 0;
    position: fixed;
    align-items: center;
    width: 100%;
    z-index: 9999;
    background-color: #000;
}

.responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    
 }